# LEDE的一些东西去掉
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-xlnetacc is not set

# 扩容
CONFIG_TARGET_ROOTFS_PARTSIZE=2048

# IPv6
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

# Docker
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_docker-compose=y

# 后台执行
CONFIG_PACKAGE_screen=y

# 文件转移
CONFIG_PACKAGE_rsync=y

# 支援5G
CONFIG_PACKAGE_usb-modeswitch=y
# MBIM
CONFIG_PACKAGE_luci-proto-mbim=y
CONFIG_PACKAGE_umbim=y
# NCM
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_kmod-mii=y
# RNDIS
CONFIG_PACKAGE_kmod-usb-net-rndis=y
# Queltel Qmi
CONFIG_PACKAGE_luci-proto-qmi=y
# Quectel
CONFIG_PACKAGE_quectel-CM-5G=y
