# LEDE的一些东西去掉
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-xlnetacc is not set

# 扩容
CONFIG_TARGET_ROOTFS_PARTSIZE=2048

# IPv6
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

# Docker
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_docker-compose=y

# 后台执行
CONFIG_PACKAGE_screen=y

# 机械盘挂载
CONFIG_PACKAGE_luci-app-hd-idle=y

# 文件转移
CONFIG_PACKAGE_rsync=y

# 测速
CONFIG_PACKAGE_iperf3=y

# DDNS
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y

# 消息提醒
CONFIG_PACKAGE_luci-app-serverchan=y

# 支援5G
CONFIG_PACKAGE_usb-modeswitch=y
# ECM
CONFIG_PACKAGE_luci-proto-ncm=y
# MBIM Qmi
CONFIG_PACKAGE_luci-proto-mbim=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_qmi-utils=y
# NCM
CONFIG_PACKAGE_luci-proto-ncm=y
# RNDIS
CONFIG_PACKAGE_kmod-usb-net-rndis=y
# Quectel
CONFIG_PACKAGE_quectel-CM-5G=y

# 不支持Python的路由器不是好路由器
CONFIG_PACKAGE_python3-pip=y
CONFIG_PACKAGE_python3-requests=y
CONFIG_PACKAGE_python3-speedtest-cli=y

# Python都有了 再来个Go不过分
CONFIG_PACKAGE_golang=y

# 花里胡哨的图表最喜欢啦
CONFIG_PACKAGE_luci-app-netdata=y

# 路由器爆炸提醒
CONFIG_PACKAGE_luci-app-serverchan=y

# 路由器！
CONFIG_PACKAGE_vxlan=y
CONFIG_PACKAGE_pppossh=y
CONFIG_PACKAGE_gre=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_comgt=y
