CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

CONFIG_DEVEL=y
CONFIG_CCACHE=y

CONFIG_TARGET_ROOTFS_PARTSIZE=2048

# CONFIG_GRUB_IMAGES is not set
CONFIG_GRUB_TITLE="LicsberOpenWRT"

CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_docker-compose=y

CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_luci-app-hd-idle=y

CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y

CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_modemmanager=y
# ECM
CONFIG_PACKAGE_luci-proto-ncm=y
# MBIM Qmi
CONFIG_PACKAGE_luci-proto-mbim=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_qmi-utils=y
# NCM
CONFIG_PACKAGE_luci-proto-ncm=y
# RNDIS
CONFIG_PACKAGE_kmod-usb-net-rndis=y
# Quectel
CONFIG_PACKAGE_quectel-CM-5G=y

CONFIG_PACKAGE_python3-pip=y
CONFIG_PACKAGE_python3-requests=y
CONFIG_PACKAGE_python3-speedtest-cli=y

CONFIG_PACKAGE_golang=y

CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-serverchan=y

CONFIG_PACKAGE_vxlan=y
CONFIG_PACKAGE_pppossh=y
CONFIG_PACKAGE_gre=y
CONFIG_PACKAGE_xl2tpd=y

CONFIG_PACKAGE_luci-app-socat=y

CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-syncdial=y
