# LEDE的一些东西去掉
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-xlnetacc is not set

# 大大大
CONFIG_TARGET_ROOTFS_PARTSIZE=1024

# IPv6得有吧
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

# 路由器不带Docker叫什么路由器
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_docker-compose=y

# 后台跑点东西不过分吧
CONFIG_PACKAGE_screen=y

# 挂一个机械盘不过分吧
CONFIG_PACKAGE_luci-app-hd-idle=y

# 机械盘有了再挪点文件吧
CONFIG_PACKAGE_rsync=y

# 运营商羊毛也得薅呀
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-syncdial=y
